.Footer {
  width: 100%;
  background: #000;
  height: 60px;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: 'Open Sans';
  font-weight: 300;
  a {
    font-weight: 800;
    margin-left: 7px;
  }
}